In [15]:
import pandas as pd

In [16]:
df_train=pd.read_csv("application_train.csv")
df_test=pd.read_csv("application_test.csv")

In [17]:
df_train

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307506,456251,0,Cash loans,M,N,N,0,157500.0,254700.0,27558.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307507,456252,0,Cash loans,F,N,Y,0,72000.0,269550.0,12001.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307508,456253,0,Cash loans,F,N,Y,0,153000.0,677664.0,29979.0,...,0,0,0,0,1.0,0.0,0.0,1.0,0.0,1.0
307509,456254,1,Cash loans,F,N,Y,0,171000.0,370107.0,20205.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
307510,456255,0,Cash loans,F,N,N,0,157500.0,675000.0,49117.5,...,0,0,0,0,0.0,0.0,0.0,2.0,0.0,1.0

In [18]:
df_test

,SK_ID_CURR,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100001,Cash loans,F,N,Y,0,135000.0,568800.0,20560.5,450000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
1,100005,Cash loans,M,N,Y,0,99000.0,222768.0,17370.0,180000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
2,100013,Cash loans,M,Y,Y,0,202500.0,663264.0,69777.0,630000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,4.0
3,100028,Cash loans,F,N,Y,2,315000.0,1575000.0,49018.5,1575000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
4,100038,Cash loans,M,Y,N,1,180000.0,625500.0,32067.0,625500.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48739,456221,Cash loans,F,N,Y,0,121500.0,412560.0,17473.5,270000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
48740,456222,Cash loans,F,N,N,2,157500.0,622413.0,31909.5,495000.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
48741,456223,Cash loans,F,Y,Y,1,202500.0,315000.0,33205.5,315000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,3.0,1.0
48742,456224,Cash loans,M,N,N,0,225000.0,450000.0,25128.0,450000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
48743,456250,Cash loans,F,Y,N,0,135000.0,312768.0,24709.5,270000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,4.0

In [26]:
df_train=df_train.dropna()
df_test=df_test.dropna()

array(['Business Entity Type 3', 'Self-employed', 'Trade: type 7',
       'Government', 'Industry: type 2', 'Bank', 'Kindergarten',
       'Transport: type 3', 'Business Entity Type 2', 'Trade: type 3',
       'Transport: type 4', 'Industry: type 9', 'Medicine', 'Other',
       'Hotel', 'Services', 'Construction', 'School', 'Transport: type 2',
       'Trade: type 2', 'Business Entity Type 1', 'Housing', 'Police',
       'Trade: type 6', 'Restaurant', 'Military', 'Industry: type 11',
       'Agriculture', 'Security', 'Electricity', 'Telecom', 'Mobile',
       'Postal', 'Security Ministries', 'Transport: type 1',
       'Industry: type 7', 'University', 'Advertising', 'Realtor',
       'Industry: type 10', 'Insurance', 'Industry: type 5',
       'Industry: type 1', 'Legal Services', 'Religion',
       'Industry: type 12', 'Industry: type 4', 'Industry: type 3',
       'Emergency', 'Cleaning', 'Trade: type 1', 'Culture',
       'Trade: type 4', 'Industry: type 8', 'Industry: type 6'],
      dtype=object)

In [21]:
df_train['CODE_GENDER']= df_train['CODE_GENDER'].replace('M',1)
df_train['CODE_GENDER']=df_train['CODE_GENDER'].replace('F',0)
df_test['CODE_GENDER']= df_test['CODE_GENDER'].replace('M',1)
df_test['CODE_GENDER']=df_test['CODE_GENDER'].replace('F',0)

df_train['NAME_CONTRACT_TYPE']= df_train['NAME_CONTRACT_TYPE'].replace('Cash loans',1)
df_train['NAME_CONTRACT_TYPE']=df_train['NAME_CONTRACT_TYPE'].replace('Revolving loans',0)
df_test['NAME_CONTRACT_TYPE']= df_test['NAME_CONTRACT_TYPE'].replace('Cash loans',1)
df_test['NAME_CONTRACT_TYPE']=df_test['NAME_CONTRACT_TYPE'].replace('Revolving loans',0)

df_train['FLAG_OWN_CAR']= df_train['FLAG_OWN_CAR'].replace('Y',1)
df_train['FLAG_OWN_CAR']=df_train['FLAG_OWN_CAR'].replace('N',0)
df_test['FLAG_OWN_CAR']= df_test['FLAG_OWN_CAR'].replace('Y',1)
df_test['FLAG_OWN_CAR']=df_test['FLAG_OWN_CAR'].replace('N',0)

df_train['FLAG_OWN_REALTY']= df_train['FLAG_OWN_REALTY'].replace('Y',1)
df_train['FLAG_OWN_REALTY']=df_train['FLAG_OWN_REALTY'].replace('N',0)
df_test['FLAG_OWN_REALTY']= df_test['FLAG_OWN_REALTY'].replace('Y',1)
df_test['FLAG_OWN_REALTY']=df_test['FLAG_OWN_REALTY'].replace('N',0)

df_train['NAME_TYPE_SUITE']= df_train['NAME_TYPE_SUITE'].replace('Unaccompanied',1)
df_train['NAME_TYPE_SUITE']=df_train['NAME_TYPE_SUITE'].replace('Family',0)
df_train['NAME_TYPE_SUITE']=df_train['NAME_TYPE_SUITE'].replace('Spouse, partner',2)                                                                    
df_train['NAME_TYPE_SUITE']=df_train['NAME_TYPE_SUITE'].replace('Children',3)                                                                 
df_train['NAME_TYPE_SUITE']=df_train['NAME_TYPE_SUITE'].replace('Other_A',4)                                                                  
df_train['NAME_TYPE_SUITE']=df_train['NAME_TYPE_SUITE'].replace('Other_B',5)
df_train['NAME_TYPE_SUITE']=df_train['NAME_TYPE_SUITE'].replace('Group of people',6) 
                                                                    
df_test['NAME_TYPE_SUITE']= df_test['NAME_TYPE_SUITE'].replace('Unaccompanied',1)
df_test['NAME_TYPE_SUITE']=df_test['NAME_TYPE_SUITE'].replace('Family',0)
df_test['NAME_TYPE_SUITE']=df_test['NAME_TYPE_SUITE'].replace('Spouse, partner',2)                                                                    
df_test['NAME_TYPE_SUITE']=df_test['NAME_TYPE_SUITE'].replace('Children',3)                                                                 
df_test['NAME_TYPE_SUITE']=df_test['NAME_TYPE_SUITE'].replace('Other_A',4)                                                                  
df_test['NAME_TYPE_SUITE']=df_test['NAME_TYPE_SUITE'].replace('Other_B',5)
df_test['NAME_TYPE_SUITE']=df_test['NAME_TYPE_SUITE'].replace('Group of people',6)

df_test['NAME_EDUCATION_TYPE']= df_test['NAME_EDUCATION_TYPE'].replace('Secondary / secondary special',1)
df_test['NAME_EDUCATION_TYPE']=df_test['NAME_EDUCATION_TYPE'].replace('Higher education',0)
df_test['NAME_EDUCATION_TYPE']=df_test['NAME_EDUCATION_TYPE'].replace('Incomplete higher',2)                                                                    
df_test['NAME_EDUCATION_TYPE']=df_test['NAME_EDUCATION_TYPE'].replace('Lower secondary',3)                                                                 
df_test['NAME_EDUCATION_TYPE']=df_test['NAME_EDUCATION_TYPE'].replace('Academic degree',4)                                                                  
                                                                
df_train['NAME_EDUCATION_TYPE']= df_train['NAME_EDUCATION_TYPE'].replace('Secondary / secondary special',1)
df_train['NAME_EDUCATION_TYPE']=df_train['NAME_EDUCATION_TYPE'].replace('Higher education',0)
df_train['NAME_EDUCATION_TYPE']=df_train['NAME_EDUCATION_TYPE'].replace('Incomplete higher',2)                                                                    
df_train['NAME_EDUCATION_TYPE']=df_train['NAME_EDUCATION_TYPE'].replace('Lower secondary',3)                                                                 
df_train['NAME_EDUCATION_TYPE']=df_train['NAME_EDUCATION_TYPE'].replace('Academic degree',4) 

df_test['NAME_FAMILY_STATUS']= df_test['NAME_FAMILY_STATUS'].replace('Single / not married',1)
df_test['NAME_FAMILY_STATUS']=df_test['NAME_FAMILY_STATUS'].replace('Married',0)
df_test['NAME_FAMILY_STATUS']=df_test['NAME_FAMILY_STATUS'].replace('Civil marriage',2)                                                                    
df_test['NAME_FAMILY_STATUS']=df_test['NAME_FAMILY_STATUS'].replace('Widow',3)                                                                 
df_test['NAME_FAMILY_STATUS']=df_test['NAME_FAMILY_STATUS'].replace('Separated',4)                                                                  
df_test['NAME_FAMILY_STATUS']=df_test['NAME_FAMILY_STATUS'].replace('Unknown',5)

df_train['NAME_FAMILY_STATUS']= df_train['NAME_FAMILY_STATUS'].replace('Single / not married',1)
df_train['NAME_FAMILY_STATUS']=df_train['NAME_FAMILY_STATUS'].replace('Married',0)
df_train['NAME_FAMILY_STATUS']=df_train['NAME_FAMILY_STATUS'].replace('Civil marriage',2)                                                                    
df_train['NAME_FAMILY_STATUS']=df_train['NAME_FAMILY_STATUS'].replace('Widow',3)                                                                 
df_train['NAME_FAMILY_STATUS']=df_train['NAME_FAMILY_STATUS'].replace('Separated',4)                                                                  
df_train['NAME_FAMILY_STATUS']=df_train['NAME_FAMILY_STATUS'].replace('Unknown',5)

df_test['NAME_HOUSING_TYPE']=df_test['NAME_HOUSING_TYPE'].replace('House / apartment',1)
df_test['NAME_HOUSING_TYPE']=df_test['NAME_HOUSING_TYPE'].replace('Rented apartment',0)
df_test['NAME_HOUSING_TYPE']=df_test['NAME_HOUSING_TYPE'].replace('With parents',2)                                                                    
df_test['NAME_HOUSING_TYPE']=df_test['NAME_HOUSING_TYPE'].replace('Municipal apartment',3)                                                                 
df_test['NAME_HOUSING_TYPE']=df_test['NAME_HOUSING_TYPE'].replace('Office apartment',4)                                                                  
df_test['NAME_HOUSING_TYPE']=df_test['NAME_HOUSING_TYPE'].replace('Co-op apartment',5)

df_train['NAME_HOUSING_TYPE']=df_train['NAME_HOUSING_TYPE'].replace('House / apartment',1)
df_train['NAME_HOUSING_TYPE']=df_train['NAME_HOUSING_TYPE'].replace('Rented apartment',0)
df_train['NAME_HOUSING_TYPE']=df_train['NAME_HOUSING_TYPE'].replace('With parents',2)                                                                    
df_train['NAME_HOUSING_TYPE']=df_train['NAME_HOUSING_TYPE'].replace('Municipal apartment',3)                                                                 
df_train['NAME_HOUSING_TYPE']=df_train['NAME_HOUSING_TYPE'].replace('Office apartment',4)                                                                  
df_train['NAME_HOUSING_TYPE']=df_train['NAME_HOUSING_TYPE'].replace('Co-op apartment',5)

df_test['OCCUPATION_TYPE']= df_test['OCCUPATION_TYPE'].replace('Laborers',1)
df_test['OCCUPATION_TYPE']=df_test['OCCUPATION_TYPE'].replace('Core staff',0)
df_test['OCCUPATION_TYPE']=df_test['OCCUPATION_TYPE'].replace('Accountants',2)                                                                    
df_test['OCCUPATION_TYPE']=df_test['OCCUPATION_TYPE'].replace('Managers',3)                                                                 
df_test['OCCUPATION_TYPE']=df_test['OCCUPATION_TYPE'].replace('Drivers',4)                                                                  
df_test['OCCUPATION_TYPE']=df_test['OCCUPATION_TYPE'].replace('Sales staff',5)
df_test['OCCUPATION_TYPE']=df_test['OCCUPATION_TYPE'].replace('High skill tech staff',6)
df_test['OCCUPATION_TYPE']=df_test['OCCUPATION_TYPE'].replace('Medicine staff',7)                                                                 
df_test['OCCUPATION_TYPE']=df_test['OCCUPATION_TYPE'].replace('Private service staff',8)                                                                  
df_test['OCCUPATION_TYPE']=df_test['OCCUPATION_TYPE'].replace('Cooking staff',9)
df_test['OCCUPATION_TYPE']=df_test['OCCUPATION_TYPE'].replace('HR staff',10)
df_test['OCCUPATION_TYPE']=df_test['OCCUPATION_TYPE'].replace('Cleaning staff',11)
df_test['OCCUPATION_TYPE']=df_test['OCCUPATION_TYPE'].replace('Security staff',12)                                                                 
df_test['OCCUPATION_TYPE']=df_test['OCCUPATION_TYPE'].replace('Secretaries',13)                                                                  
df_test['OCCUPATION_TYPE']=df_test['OCCUPATION_TYPE'].replace('IT staff',14)
df_test['OCCUPATION_TYPE']=df_test['OCCUPATION_TYPE'].replace('Realty agents',15)
df_test['OCCUPATION_TYPE']=df_test['OCCUPATION_TYPE'].replace('Waiters/barmen staff',16)                                                                  
df_test['OCCUPATION_TYPE']=df_test['OCCUPATION_TYPE'].replace('Low-skill Laborers',17)

df_train['OCCUPATION_TYPE']= df_train['OCCUPATION_TYPE'].replace('Laborers',1)
df_train['OCCUPATION_TYPE']=df_train['OCCUPATION_TYPE'].replace('Core staff',0)
df_train['OCCUPATION_TYPE']=df_train['OCCUPATION_TYPE'].replace('Accountants',2)                                                                    
df_train['OCCUPATION_TYPE']=df_train['OCCUPATION_TYPE'].replace('Managers',3)                                                                 
df_train['OCCUPATION_TYPE']=df_train['OCCUPATION_TYPE'].replace('Drivers',4)                                                                  
df_train['OCCUPATION_TYPE']=df_train['OCCUPATION_TYPE'].replace('Sales staff',5)
df_train['OCCUPATION_TYPE']=df_train['OCCUPATION_TYPE'].replace('High skill tech staff',6)
df_train['OCCUPATION_TYPE']=df_train['OCCUPATION_TYPE'].replace('Medicine staff',7)                                                                 
df_train['OCCUPATION_TYPE']=df_train['OCCUPATION_TYPE'].replace('Private service staff',8)                                                                  
df_train['OCCUPATION_TYPE']=df_train['OCCUPATION_TYPE'].replace('Cooking staff',9)
df_train['OCCUPATION_TYPE']=df_train['OCCUPATION_TYPE'].replace('HR staff',10)
df_train['OCCUPATION_TYPE']=df_train['OCCUPATION_TYPE'].replace('Cleaning staff',11)
df_train['OCCUPATION_TYPE']=df_train['OCCUPATION_TYPE'].replace('Security staff',12)                                                                 
df_train['OCCUPATION_TYPE']=df_train['OCCUPATION_TYPE'].replace('Secretaries',13)                                                                  
df_train['OCCUPATION_TYPE']=df_train['OCCUPATION_TYPE'].replace('IT staff',14)
df_train['OCCUPATION_TYPE']=df_train['OCCUPATION_TYPE'].replace('Realty agents',15)
df_train['OCCUPATION_TYPE']=df_train['OCCUPATION_TYPE'].replace('Waiters/barmen staff',16)                                                                  
df_train['OCCUPATION_TYPE']=df_train['OCCUPATION_TYPE'].replace('Low-skill Laborers',17)

SyntaxError: EOL while scanning string literal (<ipython-input-21-14abed9c5203>, line 7)